* {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 4rem;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
